<html>
<head>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script>
	$(document).ready(function() {
		//Empleados
		$.ajax({
        	url: '/api/empleado/traerEmpleados',
        	type: 'POST',
        	success: function(response){
            	console.log(response);
            	var stringTipo;
            	$.each(response,function(index,empleado){
            		if(empleado.tipoEmpleado==false){	
       			     stringTipo="Vendedor";
       			}
       			else{
       			   stringTipo = "Gerente";
       			}
            		$("#empleados").append(new Option(empleado.apellido+" "+ empleado.nombre+" "+empleado.dni+" "+stringTipo ,empleado.idPersona));
            	});
        	},
        	error: function(response){
        		console.log(response);
        	}
        });
		//Locales
		$.ajax({
        	url: '/api/local/traerLocales',
        	type: 'POST',
        	success: function(response){
            	console.log(response);
            	$.each(response,function(index,local){
            		$("#locales").append(new Option(local.telefono + " - " + local.direccion, local.idLocal));
            	});
        	},
        	error: function(response){
        		console.log(response);
        	}
        });
		
		//Seleccionar Empleado a modificar 
		$("#empleados").change(function(){
			$(".error").css("display", "none");
			json={"idEmpleado":$("#empleados").val()};
			$("#formularioEmpleado").hide(1000, function(){
				$.ajax({
		        	url: '/api/empleado/traerEmpleado',
		        	type: 'POST',
	            	dataType: 'json',
	            	data: JSON.stringify(json),
	            	contentType: "application/json",
		        	success: function(empleado){
		        		console.log(empleado)
	                	$("#apellido").val(empleado.apellido);
		        		$("#nombre").val(empleado.nombre);
		        		$("#dni").val(empleado.dni);
		        		$("#franjaHoraria").val(empleado.franjaHoraria);
		        		if(empleado.tipoEmpleado==false){
		        			$("#radioVendedor").prop("checked", true);
                        }
                        else{
                        	$("#radioGerente").prop("checked", true);
                        }		        		
		        		$("#formularioEmpleado").show(1000);
		        	},
		        	error: function(response){
		        		console.log(response);
		        	}
		        });
			});
		});
		
		
		
		
		//Modificar un empleado seleccionado
		$("#modificar").click(function() {
			$(".error").css("display", "none");
			var tipoEmpleado;
			if($('[name="tipoEmpleado"]:checked').val().includes("gerente")){	
			     tipoEmpleado = true;
			}
			else{
			   tipoEmpleado = false;
			}
			json = {
					"apellido": $("#apellido").val(),
					"nombre": $("#nombre").val(),
					"dni": $("#dni").val(),
					"franjaHoraria": $("#franjaHoraria").val(),
					"tipoEmpleado": tipoEmpleado,
					"idPersona": $("#empleados").val(),
					"local": {
						"idLocal":$("#locales").val()
					}
			};
			$.ajax({
            	url: '/api/empleado/modificar',
            	type: 'POST',
            	dataType: 'json',
            	data: JSON.stringify(json),
            	contentType: "application/json",
            	success: function(response){
                	$("#formularios").hide(1000,function(){$("#exitoModificar").show(1000)});
            	},
            	error: function(response){
            		console.log(response);	
            	}
        	});
		});
	});
</script>
</head>
<body>
		<div>
			<h1>Modicar empleados:</h1>
		</div>
		<div id="formularios">
			<div id="formularioSelectEmpleados">
				<p>Seleccione Empleado: <select id="empleados">
				</select>
				</p>
			</div>
			<div id="formularioEmpleado" style="display: none;">
			<p>Apellido: <input id="apellido" type="text" name="apellido"></p>
			<p>Nombre: <input id="nombre" type="text" name="nombre"></p>
			<p>Fecha de Nacimiento: <input id="fechaNacimiento" type="date" name="fechaNacimiento"></p>
			<p>Dni: <input id="dni" type="number" name="dni"></p>
			<p>Franja Horaria: <input id="franjaHoraria" type="text" name="franjaHoraria"></p>	
			<p>
          	<label>Tipo de empleado</label>            
          	<input type = "radio"
                 name = "tipoEmpleado"
                 id="radioVendedor"
                 value = "vendedor" />
                 <label>Vendedor</label> 
          	<input type = "radio"
                 name = "tipoEmpleado"
                 id="radioGerente"
                 value = "gerente" />
                 <label>Gerente</label> 
       		 </p> 
       		 
       		 <div id="formulario">
			<select id="locales">
			</select>
		</div>
		
			<button id="modificar" type="button">MODIFICAR</button>
			</div>
		</div>
		
		<div  id="exitoModificar" style="display: none;">
			<h1>Empleado Modificado</h1>
		</div>
		<div>
			<a href="/empleado">ATRAS</a>
		</div>
</body>
</html>