<script type="text/javascript">
function agregar(idProducto){
	
}
</script>


<table id="tabla-productos" class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Producto</th>
      <th scope="col">Precio</th>
      <th scope="col">Stock</th>
      <th scope="col">Accion</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Zapatilla niko black</td>
      <td>$3290</td>
      <td>21</td>
      <td><button type="button" class="btn btn-success" onclick="agregar(1)">agregar</button></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Zapato adido white</td>
      <td>$3322</td>
      <td>12</td>
      <td><button type="button" class="btn btn-success">agregar</button></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Ojota Reebuko</td>
      <td>$5333</td>
      <td>2</td>
      <td><button type="button" class="btn btn-success">agregar</button></td>
    </tr>
  </tbody>
</table>

