<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script>
	$(document).ready(function() {
		//Traigo los Clientes de la Base
		$.ajax({
        	url: '/api/cliente/traerClientes',
        	type: 'POST',
        	success: function(response){
            	console.log(response);
            	$.each(response,function(index,cliente){
            		$("#clientes").append(new Option(cliente.apellido + ", " + cliente.nombre + " - DNI:" + cliente.dni, cliente.idPersona));
            	});
        	},
        	error: function(response){
        		console.log(response);
        	}
        });
		
		//Selecciono El Cliente a Modificar
		$("#clientes").change(function(){
			$(".error").css("display", "none");
			json={"idPersona":$("#clientes").val()};
			$("#formularioCliente").hide(1000, function(){
				$.ajax({
		        	url: '/api/cliente/traerCliente',
		        	type: 'POST',
	            	dataType: 'json',
	            	data: JSON.stringify(json),
	            	contentType: "application/json",
		        	success: function(cliente){
		        		console.log(cliente)
	                	$("#apellido").val(cliente.apellido);
		        		$("#nombre").val(cliente.nombre);
		        		$("#dni").val(cliente.dni);
		        		$("#email").val(cliente.email);
		        		$("#fechaNacimiento").val(cliente.fechaNacimiento);
		        		$("#formularioCliente").show(1000);      		
		        		
		        	},
		        	error: function(response){
		        		console.log(response);
		        	}
		        });
			});
		});
		
		//Modifico el Cliente 
		$("#modificar").click(function() {
			$(".ERROR").css("display", "none");
			var error=false;
			
			if($("#apellido").val() == ""){
		    
		        $("#displayApellidoError").css("display", "block");
		    	error=true;
		    }	
			if($("#nombre").val() == ""){    
		    		
				  $("#displayNombreError").css("display", "block");
				  error=true;
		    }
			if($("#dni").val() == ""){     
			      
				 $("#displayDniError").css("display", "block");
				 error=true;
			}		
			
			
			if($("#fechaNacimiento").val() == ""){
		        
			
				 $("#displayFNacError").css("display", "block");
				 error=true;
			}
			
			
			$(".error").css("display", "none");
			var error = false;
			json = {
					"apellido": $("#apellido").val(),
					"nombre": $("#nombre").val(),
					"dni": $("#dni").val(),
					"email": $("#email").val(),
					"idPersona": $("#clientes").val(),
					"fechaNacimiento": $("#fechaNacimiento").val()
			};
			$.ajax({
            	url: '/api/cliente/alta',
            	type: 'POST',
            	dataType: 'json',
            	data: JSON.stringify(json),
            	contentType: "application/json",
            	success: function(response){
                	$("#formularios").hide(1000,function(){$("#exitoModificar").show(1000)});
            	},
            	error: function(response){
            		console.log(response);
            		if(response.responseJSON.message.includes("dni")){
            			 $("#errorDNI").css("display", "block");
            			 $("#errorDNI").html(response.responseJSON.message);
            		}
            	}
        	});
		});
	});
</script>
<div>
			<h1>Modificar Cliente:</h1>
	</div>
	<div id="formularios">
		<div id="formularioSelectCliente">
			<p>Seleccione Cliente: <select id="clientes" class="form-control">
			</select>
			</p>
		</div>
		<div id="formularioCliente" style="display: none;">
		
		<div class="form-row">
		    <div class="form-group col-md-6">
		      <p>Apellido: <input class="form-control" id="apellido" type="text" name="apellido" required="required"></p>
				<label id="displayApellidoError" class="ERROR" style="display: none;">Complete el Apellido</label> 
		    </div>
		    <div class="form-group col-md-6">
		      <p>Nombre: <input class="form-control" id="nombre" type="text" name="nombre" required="required"></p>
				<label id="displayNombreError" class="ERROR" style="display: none;">Complete el Nombre</label> 
		    </div>
		</div>
		
		<div class="form-row">
		    <div class="form-group col-md-6">
		      <p>DNI: <input class="form-control" id="dni" type="number" name="dni" required="required"></p>
		      	<label id="errorDNI" class="ERROR" style="display: none;"></label> 
				<label id="displayDNIError" class="ERROR" style="display: none;">Complete el DNI</label> 
		    </div>
		    <div class="form-group col-md-6">
		      <p>Fecha de Nacimiento: <input class="form-control" id="fechaNacimiento" type="date" name="nombre" required="required"></p>
				<label id="displayFNacError" class="ERROR" style="display: none;">Complete la Fecha de Nacimiento</label> 
		    </div>
		</div>
		
		<div class="form-row">
		    <div class="form-group col-md-12">
		      <p>Email: <input class="form-control" id="email" type="text" name="email" required="required"></p>
				 
		    </div>
		</div>			
		
	
		
		
		<p></p>
		<button id="modificar" class="btn btn-primary">MODIFICAR</button>
		</div>
	</div>
		
	<div  id="exitoModificar" style="display: none;">
		<h1>Cliente Modificado</h1>
		<button onClick="window.location.reload();" class="btn btn-primary">Recargar</button>
	</div>
	

	
	