
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script>
	$(document).ready(function() {
		$("#subir").click(function() {
			$(".errorInput").css("display", "none");
			json = {
					"direccion": $("#direccion").val(),
					"telefono": $("#telefono").val(),
					"latitud": $("#latitud").val(),
					"longitud": $("#longitud").val()
					
			};
			console.log(json);
			$.ajax({
            	url: '/api/local/alta',
            	type: 'POST',
            	dataType: 'json',
            	data: JSON.stringify(json),
            	contentType: "application/json",
            	success: function(response){
                	console.log(response)
                	$("#formulario").hide(200,function(){$("#exito").show(200)});
            	},
            	error: function(response){
            		console.log(response);
            		if(response.responseJSON.message.includes("telefono")){
            			 $("#errorTelefono").css("display", "block");
            			 $("#errorTelefono").html(response.responseJSON.message);
            		}
            	}
        	})
		});
	});
</script>
	<div id="divFormulario">
		<div>
		<h1>Alta Local:</h1>
		</div>
		<div class="row">
			<div class="col-6" id="formulario">
				<p>Direccion: <input id="direccion" class="form-control" type="text"></p>
				<p>Telefono: <input id="telefono" class="form-control" type="number"><label id="errorTelefono" class="errorInput text-danger" style="display: none;"></label></p>
				<p>latitud: <input id="latitud" class="form-control" type="number"></p>
				<p>longitud: <input id="longitud" class="form-control" type="number"></p>
				<button id="subir" class="btn btn-primary" type="button">Agregar</button>
			</div>
		</div>
		<div  id="exito" style="display: none;">
			<h1>Local Agregado</h1>
			<button id="recargar" onClick="window.location.reload();" class="btn btn-primary">Agregar Nuevo</button>	
		</div>
	</div>