
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script>
	$(document).ready(function() {
		$("#subir").click(function() {
			$(".error").css("display", "none");
			json = {
					"direccion": $("#direccion").val(),
					"telefono": $("#telefono").val(),
					"latitud": $("#latitud").val(),
					"longitud": $("#longitud").val()
					
			};
			console.log(json);
			$.ajax({
            	url: '/api/local/alta',
            	type: 'POST',
            	dataType: 'json',
            	data: JSON.stringify(json),
            	contentType: "application/json",
            	success: function(response){
                	console.log(response)
                	$("#formulario").hide(1000,function(){$("#exito").show(1000)});
            	},
            	error: function(response){
            		console.log(response);
            		if(response.responseJSON.message.includes("telefono")){
            			 $("#errorTelefono").css("display", "block");
            			 $("#errorTelefono").html(response.responseJSON.message);
            		}
            	}
        	})
		});
	});
</script>
	<div id="divFormulario">
		<div>
		<h1>Alta Local:</h1>
		</div>
		<div id="formulario">
			<p>Direccion: <input id="direccion" type="text"></p>
			<p>Telefono: <input id="telefono" type="number"><span id="errorTelefono" class="error" style="display: none;"></span></p>
			<p>latitud: <input id="latitud" type="number"></p>
			<p>longitud: <input id="longitud" type="number"></p>
			<button id="subir" type="button">Agregar</button>
		</div>
		<div  id="exito" style="display: none;">
			<h1>Local Agregado</h1>
		</div>
	</div>