
<script>
	$(document).ready(function() {
		//TRAERLOCALES
		$.ajax({
        	url: '/api/local/traerLocales',
        	type: 'POST',
        	success: function(response){
            	console.log(response);
            	$.each(response,function(index,local){
            		$("#locales").append(new Option(local.telefono + " - " + local.direccion, local.idLocal));
            	});
        	},
        	error: function(response){
        		console.log(response);
        	}
        });
		
		//SELECCIONAR LOCAL A BORRAR O MODIFICAR
		$("#locales").change(function(){
			$(".error").css("display", "none");
			json={"idLocal":$("#locales").val()};
			$("#formularioLocal").hide(1000, function(){
				$.ajax({
		        	url: '/api/local/traerLocal',
		        	type: 'POST',
	            	dataType: 'json',
	            	data: JSON.stringify(json),
	            	contentType: "application/json",
		        	success: function(local){
		        		console.log(local)
	                	$("#direccion").val(local.direccion);
		        		$("#telefono").val(local.telefono);
		        		$("#latitud").val(local.latitud);
		        		$("#longitud").val(local.longitud);
		        		$("#formularioLocal").show(1000);
		        	},
		        	error: function(response){
		        		console.log("error al traer local" + response);
		        	}
		        });
			});
		});
		
		//BORRAR UN LOCAL SELECCIONADO
		$("#eliminar").click(function(){
			json={"idLocal":$("#locales").val()};
			$.ajax({
	        	url: '/api/local/baja',
	        	type: 'POST',
            	dataType: 'json',
            	data: JSON.stringify(json),
            	contentType: "application/json",
	        	success: function(response){
	        		console.log(response)
                	$("#formularios").hide(1000,function(){$("#exito").show(1000)});
	        	},
	        	error: function(response){
	        		console.log(response);
	        	}
	        });
		});
		
		//Modificar UN LOCAL SELECCIONADO
		$("#modificar").click(function() {
			$(".error").css("display", "none");
			json = {
					"direccion": $("#direccion").val(),
					"telefono": $("#telefono").val(),
					"latitud": $("#latitud").val(),
					"longitud": $("#longitud").val(),
					"idLocal": $("#locales").val()
			};
			$.ajax({
            	url: '/api/local/alta',
            	type: 'POST',
            	dataType: 'json',
            	data: JSON.stringify(json),
            	contentType: "application/json",
            	success: function(response){
                	$("#formularios").hide(1000,function(){$("#exitoModificar").show(1000)});
            	},
            	error: function(response){
            		console.log(response);
            		if(response.responseJSON.message.includes("telefono")){
            			 $("#errorTelefono").css("display", "block");
            			 $("#errorTelefono").html(response.responseJSON.message);
            		}
            	}
        	});
		});
	});
</script>
		<div>
			<h1>MODIFICAR O ELIMINAR:</h1>
		</div>
		<div id="formularios">
			<div id="formularioSelectLocal">
				<p>Seleccione Local: <select id="locales">
				</select>
				</p>
			</div>
			<div id="formularioLocal" style="display: none;">
				Direccion: <input id="direccion" type="text">
				<p>Telefono: <input id="telefono" type="number"><span id="errorTelefono" class="error" style="display: none;"></span></p>
				<p>latitud: <input id="latitud" type="number"></p>
				<p>longitud: <input id="longitud" type="number"></p>
				<button id="eliminar" type="button">ELIMINAR</button><button id="modificar" type="button">MODIFICAR</button>
			</div>
		</div>
		<div  id="exito" style="display: none;">
			<h1>Local Eliminado</h1>
		</div>
		<div  id="exitoModificar" style="display: none;">
			<h1>Local Modificado</h1>
		</div>