<!DOCTYPE html>
<html>
<head>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script>
	$(document).ready(function() {
		//Traigo los Clientes de la Base
		$.ajax({
        	url: '/api/cliente/traerClientes',
        	type: 'POST',
        	success: function(response){
            	console.log(response);
            	$.each(response,function(index,cliente){
            		$("#clientes").append(new Option(cliente.apellido + ", " + cliente.nombre + " - DNI:" + cliente.dni, cliente.idPersona));
            	});
        	},
        	error: function(response){
        		console.log(response);
        	}
        });
		
		//Selecciono El Cliente a Modificar
		$("#clientes").change(function(){
			$(".error").css("display", "none");
			json={"idPersona":$("#clientes").val()};
			$("#formularioCliente").hide(1000, function(){
				$.ajax({
		        	url: '/api/cliente/traerCliente',
		        	type: 'POST',
	            	dataType: 'json',
	            	data: JSON.stringify(json),
	            	contentType: "application/json",
		        	success: function(cliente){
		        		console.log(cliente)
	                	$("#apellido").val(cliente.apellido);
		        		$("#nombre").val(cliente.nombre);
		        		$("#dni").val(cliente.dni);
		        		$("#email").val(cliente.email);
		        		$("#fechaNacimiento").val(cliente.fechaNacimiento);
		        		$("#formularioCliente").show(1000);      		
		        		
		        	},
		        	error: function(response){
		        		console.log(response);
		        	}
		        });
			});
		});
		
		//Modifico el Cliente 
		$("#modificar").click(function() {
			$(".error").css("display", "none");
			json = {
					"apellido": $("#apellido").val(),
					"nombre": $("#nombre").val(),
					"dni": $("#dni").val(),
					"email": $("#email").val(),
					"idPersona": $("#clientes").val(),
					"fechaNacimiento": $("#fechaNacimiento").val()
			};
			$.ajax({
            	url: '/api/cliente/alta',
            	type: 'POST',
            	dataType: 'json',
            	data: JSON.stringify(json),
            	contentType: "application/json",
            	success: function(response){
                	$("#formularios").hide(1000,function(){$("#exitoModificar").show(1000)});
            	},
            	error: function(response){
            		console.log(response);
            		if(response.responseJSON.message.includes("dni")){
            			 $("#errorDNI").css("display", "block");
            			 $("#errorDNI").html(response.responseJSON.message);
            		}
            	}
        	});
		});
	});
</script>
<meta charset="ISO-8859-1">
</head>
<body>
	<div>
			<h1>Modificar Cliente:</h1>
		</div>
		<div id="formularios">
			<div id="formularioSelectCliente">
				<p>Seleccione Cliente: <select id="clientes">
				</select>
				</p>
			</div>
			<div id="formularioCliente" style="display: none;">
				<p>Apellido: <input id="apellido" type="text"></p>
				<p>Nombre: <input id="nombre" type="text"><span id="errorDNI" class="error" style="display: none;"></span></p>
				<p>DNI: <input id="dni" type="number"></p>
				<p>Fecha de Nacimiento: <input id="fechaNacimiento" type="date" name="fechaNacimiento"></p>
				<p>Email: <input id="email" type="text"></p>
				<button id="modificar" type="button">MODIFICAR</button>
			</div>
		</div>
		
		<div  id="exitoModificar" style="display: none;">
			<h1>Cliente Modificado</h1>
		</div>
		<div>
			<a href="/cliente">ATRAS</a>
		</div>
</body>
</html>