<html>
<head>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script>
	$(document).ready(function() {
		$.ajax({
        	url: '/api/local/traerLocales',
        	type: 'POST',
        	success: function(response){
            	console.log(response);
            	$.each(response,function(index,local){
            		$("#locales").append(new Option(local.telefono, local.idLocal));
            	});
        	},
        	error: function(response){
        		console.log(response);
        	}
        });
	});
</script>
</head>
<body>
		<div>
			<h1>MODIFICAR O ELIMINAR:</h1>
		</div>
		<div id="formulario">
			<select id="locales">
			</select>
		</div>
</body>
</html>