<!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Proyecto OO2 <sup>pro</sup></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        ABMs
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li id="nav-item-local" class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLocal" aria-expanded="true" aria-controls="collapseLocal">
          <i class="fas fa-fw fa-cog"></i>
          <span>Local</span>
        </a>
        <div id="collapseLocal" class="collapse" aria-labelledby="headingLocal" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">ABM Local</h6>
            <a id="local-alta" class="collapse-item" href="/local/alta">Alta</a>
            <a id="local-modificacion"class="collapse-item" href="/local/modificacion">Baja o Modificacion</a>
          </div>
        </div>
      </li>
      

       <!-- Empleados -->

      <li id="nav-item-empleado" class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEmpleado" aria-expanded="true" aria-controls="collapseEmpleado">
          <i class="fas fa-fw fa-cog"></i>
          <span>Empleado</span>
        </a>
        <div id="collapseEmpleado" class="collapse" aria-labelledby="headingEmpleado" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">ABM Empleado</h6>
            <a id="empleado-alta" class="collapse-item" href="/empleado/alta">Alta</a>
            <a id="empleado-modificacion"class="collapse-item" href="/empleado/modificar">Modificacion</a>
            <a id="empleado-baja"class="collapse-item" href="/empleado/baja">Baja</a>
          </div>
        </div>
      </li>

      <li id="nav-item-producto" class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProducto" aria-expanded="true" aria-controls="collapseProducto">
          <i class="fas fa-fw fa-cog"></i>
          <span>Producto</span>
        </a>
        <div id="collapseProducto" class="collapse" aria-labelledby="headingLocal" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">ABM Producto</h6>
            <a id="producto-listado" class="collapse-item" href="/productos/listado">Listado</a>
            <a id="producto-alta" class="collapse-item" href="/productos/alta">Alta</a>
            <a id="producto-modificacion"class="collapse-item" href="/productos/modificacion">Baja o Modificacion</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Otros</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Abm Otros:</h6>
            <a class="collapse-item" href="/cliente">Clientes</a>
          </div>
        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Venta
      </div>

      <li id="nav-item-pedido" class="nav-item">
        <a class="nav-link" href="/pedido/carritos">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Pedidos</span></a>
      </li>

      <!-- Nav Item - Charts -->
      <li id="nav-item-solicitudes" class="nav-item">
        <a class="nav-link" href="/solicitudes">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Solicitudes</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>


          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span id="nombreUsuario" class="mr-2 d-none d-lg-inline text-gray-600 small">NO LOGEADO</span>
                <img class="img-profile rounded-circle" src="https://i.pinimg.com/originals/69/83/2b/69832b335b2793475ba3b64c0ade7768.jpg">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Activity Log
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div id="page-content" class="container-fluid">
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="/">Logout</a>
        </div>
      </div>
    </div>
  </div>


<script>
$(document).ready(function(){
	$("#nombreUsuario").html(sessionStorage.getItem("apellidoEmpleado")+ " " + sessionStorage.getItem("nombreEmpleado") + " | " + sessionStorage.getItem("direccionLocal"));
});
</script>
