<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script>
	$(document).ready(function() {
		var fecha = new Date();
		fecha.setFullYear(fecha.getFullYear()-18);
		var fechaString=(fecha.toISOString()).substring(0,10);
		$("#fechaNacimiento").attr("max",fechaString);
		
		$("#guardar").click(function() {
			$(".ERROR").css("display", "none");
			var apellido = $("#apellido").val();
			var nombre = $("#nombre").val();
			var fechaNacimiento= $("#fechaNacimiento").val();
			var dni = $("#dni").val();
			var franjaHoraria= $("#franjaHoraria").val();
			var tipoEmpleado;
			var idLocal=$("#locales").val();
			var password=$("#password").val();
			
			var error=false;
			
			if($("#apellido").val() == ""){
		    //  $("#apellido").focus();			// Esta función coloca el foco de escritura del usuario en el campo Nombre directamente.
		        $("#displayApellidoError").css("display", "block");
		    	error=true;
		    }
			if($("#password").val() == ""){
			    //  $("#apellido").focus();			// Esta función coloca el foco de escritura del usuario en el campo Nombre directamente.
			        $("#passwordError").css("display", "block");
			    	error=true;
			    }	
			if($("#nombre").val() == ""){    
		    //    $("#nombre").focus();			
				  $("#displayNombreError").css("display", "block");
				  error=true;
		    }
			if($("#dni").val() == ""){     
			 //       $("#dni").focus();       
				 $("#displayDniError2").css("display", "block");
				 error=true;
			}
			
			if($("#franjaHoraria").val() == ""){
		        
		   //     $("#franjaHoraria").focus();
		        $("#displayFHError").css("display", "block");
		        error=true;
		    }
			
			if($("#fechaNacimiento").val() == ""){
		        
				//     $("#fechaNacimiento").focus();
				$("#displayFNacError").css("display", "block");
				error=true;
			}
			
			
			if($('[name="tipoEmpleado"]:checked').val().includes("gerente")){	
			     tipoEmpleado = true;
			}
			else{
			   tipoEmpleado = false;
			}
			if(error==false){
			jsonEmpleado = {
					"apellido": apellido,
					"nombre": nombre,
					"dni": dni,
					"franjaHoraria":franjaHoraria,
					"tipoEmpleado": tipoEmpleado,
					"fechaNacimiento": fechaNacimiento,
					"local": {
						"idLocal":idLocal
					}
					};
			jsonUsuario={
				"password":password,
				"username":dni
			};
			json={
					"empleado":jsonEmpleado,
					"usuario":jsonUsuario
			}
			console.log(json);
			$.ajax({
            	url: '/api/empleado/alta',
            	type: 'POST',
            	dataType: 'json',
            	data: JSON.stringify(json),
            	contentType: "application/json",
            	success: function(response){
            		$("#formularios").hide(1000,function(){$("#exitoAgregar").show(1000)});
            	},
            	error: function(response){
                	console.log(response.responseJSON.message)
                	if(response.responseJSON.message.includes("dni")){
           			 $("#displayDniError").css("display", "block");
           			 $("#displayDniError").html(response.responseJSON.message);
           		}
            	}
        	})
			}
			});
		
		$.ajax({
        	url: '/api/local/traerLocales',
        	type: 'POST',
        	success: function(response){
            	console.log(response);
            	$.each(response,function(index,local){
            		$("#locales").append(new Option(local.direccion,local.idLocal))
            	});
        	},
        	error: function(response){
        		console.log(response);
        	}
        });
	});
			
</script>



<div>
		<div id="formularios">
			<h1>Alta de empleados</h1> 
			
			<div class="form-row">
			    <div class="form-group col-md-6">
			      <p>Apellido: <input class="form-control" id="apellido" type="text" name="apellido" required="required"></p>
					<label id="displayApellidoError" class="ERROR" style="display: none;">Complete el campo apellido</label> 
			    </div>
			    <div class="form-group col-md-6">
			      <p>Nombre: <input class="form-control" id="nombre" type="text" name="nombre" required="required"></p>
					<label id="displayNombreError" class="ERROR" style="display: none;">Complete el campo nombre</label> 
			    </div>
			</div>
			
			<div class="form-row">
			    <div class="form-group col-md-6">
			      <p>Fecha de Nacimiento: <input id="fechaNacimiento" class="form-control" type="date" name="fechaNacimiento" required="required"></p>
					<label id="displayFNacError" class="ERROR" style="display: none;">Complete el campo fecha de nacimiento</label>
			    </div>
			    <div class="form-group col-md-6">
			      <p>Dni: <input id="dni" class="form-control" type="number" name="dni" required="required"></p>
					<label id="displayDniError" class="ERROR" style="display: none;"></label> 
					<label id="displayDniError2" class="ERROR" style="display: none;">Complete el campo DNI </label>  
			    </div>
			</div>
			
			<div class="form-row">
				<div class="form-group col-md-6">
					<p>Franja Horaria: <input id="franjaHoraria" class="form-control" type="text" name="franjaHoraria" required="required"></p>
						<label id="displayFHError" class="ERROR" style="display: none;">Complete el campo franja Horaria </label>
				</div>
				<div class="form-group col-md-6">
          				<label>Tipo de empleado</label> 
          				<p></p>           
          					<input type = "radio" name = "tipoEmpleado" value = "vendedor"  checked="checked"/>
                 		<label>Vendedor</label> 
          					<input type = "radio" name = "tipoEmpleado" value = "gerente" />
                 		<label>Gerente</label> 	
				</div>
			</div>
			
					
		
        
		<div class="form-row">
			<div class="form-group col-md-6">
				<div>
					<h4>Locales :</h4>
				</div>
				<select id="locales" class="form-control">
				</select>
			</div>
			<div class="form-group col-md-6">
				<div>
					<h4>Password :</h4>
				</div>
				 <input id="password" class="form-control" type="password" required="required">
					<label id="passwordError" class="ERROR" style="display: none;">Ingrese una clave</label>
			</div>
		</div>    	
			<p></p>
			<button id="guardar" class="btn btn-primary">Guardar</button>
		</div>
	</div>
		<div  id="exitoAgregar" style="display: none;">
			<h1>Empleado agregado</h1>
			<p></p> 
			<p></p> 
			<button id="recargar" onClick="window.location.reload();" class="btn btn-primary">Recargar</button>	
		</div>
