<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script>
	$(document).ready(function() {
		var fecha = new Date();
		fecha.setFullYear(fecha.getFullYear()-18);
		var fechaString=(fecha.toISOString()).substring(0,10);
		$("#fechaNacimiento").attr("max",fechaString);
		
		//Empleados
		$.ajax({
        	url: '/api/empleado/traerEmpleados',
        	type: 'POST',
        	success: function(response){
            	console.log(response);
            	var stringTipo;
            	$.each(response,function(index,empleado){
            		if(empleado.tipoEmpleado==false){	
       			     stringTipo="Vendedor";
       			}
       			else{
       			   stringTipo = "Gerente";
       			}
            		$("#empleados").append(new Option(empleado.apellido+" "+ empleado.nombre+" "+empleado.dni+" "+stringTipo ,empleado.idPersona));
            	});
        	},
        	error: function(response){
        		console.log(response);
        	}
        });
		//Locales
		$.ajax({
        	url: '/api/local/traerLocales',
        	type: 'POST',
        	success: function(response){
            	console.log(response);
            	$.each(response,function(index,local){
            		$("#locales").append(new Option(local.telefono + " - " + local.direccion, local.idLocal));
            	});
        	},
        	error: function(response){
        		console.log(response);
        	}
        });
		
		//Seleccionar Empleado a modificar 
		$("#empleados").change(function(){
			$(".error").css("display", "none");
			json={"idEmpleado":$("#empleados").val()};
			$("#formularioEmpleado").hide(1000, function(){
				$.ajax({
		        	url: '/api/empleado/traerEmpleado',
		        	type: 'POST',
	            	dataType: 'json',
	            	data: JSON.stringify(json),
	            	contentType: "application/json",
		        	success: function(empleado){
		        		console.log(empleado)
	                	$("#apellido").val(empleado.apellido);
		        		$("#nombre").val(empleado.nombre);
		        		$("#dni").val(empleado.dni);
		        		$("#franjaHoraria").val(empleado.franjaHoraria);
		        		$("#locales").val(empleado.local.idLocal);
		        		$("#fechaNacimiento").val(empleado.fechaNacimiento);
		        		if(empleado.tipoEmpleado==false){
		        			$("#radioVendedor").prop("checked", true);
                        }
                        else{
                        	$("#radioGerente").prop("checked", true);
                        }		        		
		        		$("#formularioEmpleado").show(1000);
		        	},
		        	error: function(response){
		        		console.log(response)
	                	
		        	}
		        });
			});
		});
		
		
		
		
		//Modificar un empleado seleccionado
		$("#modificar").click(function() {
			$(".ERROR").css("display", "none");
			var error=false;
			
			if($("#apellido").val() == ""){
		    //  $("#apellido").focus();			// Esta función coloca el foco de escritura del usuario en el campo Nombre directamente.
		        $("#displayApellidoError").css("display", "block");
		    	error=true;
		    }	
			if($("#nombre").val() == ""){    
		    //    $("#nombre").focus();			
				  $("#displayNombreError").css("display", "block");
				  error=true;
		    }
			if($("#dni").val() == ""){     
			 //       $("#dni").focus();       
				 $("#displayDniError2").css("display", "block");
				 error=true;
			}
			
			if($("#franjaHoraria").val() == ""){
		        
		   //     $("#franjaHoraria").focus();
		        $("#displayFHError").css("display", "block");
		        error=true;
		    }
			
			if($("#fechaNacimiento").val() == ""){
		        
			//     $("#fechaNacimiento").focus();
				 $("#displayFNacError").css("display", "block");
				 error=true;
			}
			
			
			
			$(".error").css("display", "none");
			var tipoEmpleado;
			if($('[name="tipoEmpleado"]:checked').val().includes("gerente")){	
			     tipoEmpleado = true;
			}
			else{
			   tipoEmpleado = false;
			}
			if(error==false){
			json = {
					"apellido": $("#apellido").val(),
					"nombre": $("#nombre").val(),
					"dni": $("#dni").val(),
					"franjaHoraria": $("#franjaHoraria").val(),
					"tipoEmpleado": tipoEmpleado,
					"idPersona": $("#empleados").val(),
					"fechaNacimiento":$("#fechaNacimiento").val(),
					"local": {
						"idLocal":$("#locales").val()
					}
			};
			$.ajax({
            	url: '/api/empleado/modificar',
            	type: 'POST',
            	dataType: 'json',
            	data: JSON.stringify(json),
            	contentType: "application/json",
            	success: function(response){
                	$("#formularios").hide(1000,function(){$("#exitoModificar").show(1000)});
            	},
            	error: function(response){
            		console.log(response.responseJSON.message)
                	if(response.responseJSON.message.includes("dni")){
           			 $("#displayDniError").css("display", "block");
           			 $("#displayDniError").html(response.responseJSON.message);
           		}
            	}
        	});
		}
		});
	});
</script>
<div>
			<h1>Modificar empleados:</h1>
		</div>
		<div id="formularios">
			<div id="formularioSelectEmpleados">
				<p>Seleccione Empleado: <select id="empleados" class="form-control">
				</select>
				</p>
			</div>
			<div id="formularioEmpleado" style="display: none;">
			
			<div class="form-row">
			    <div class="form-group col-md-6">
			      <p>Apellido: <input class="form-control" id="apellido" type="text" name="apellido" required="required"></p>
					<label id="displayApellidoError" class="ERROR" style="display: none;">Complete el campo apellido</label> 
			    </div>
			    <div class="form-group col-md-6">
			      <p>Nombre: <input class="form-control" id="nombre" type="text" name="nombre" required="required"></p>
					<label id="displayNombreError" class="ERROR" style="display: none;">Complete el campo nombre</label> 
			    </div>
			</div>
			
			<div class="form-row">
			    <div class="form-group col-md-6">
			      <p>Fecha de Nacimiento: <input id="fechaNacimiento" class="form-control" type="date" name="fechaNacimiento" required="required"></p>
					<label id="displayFNacError" class="ERROR" style="display: none;">Complete el campo fecha de nacimiento</label>
			    </div>
			    <div class="form-group col-md-6">
			      <p>Dni: <input id="dni" class="form-control" type="number" name="dni" required="required"></p>
					<label id="displayDniError" class="ERROR" style="display: none;"></label> 
					<label id="displayDniError2" class="ERROR" style="display: none;">Complete el campo DNI </label>  
			    </div>
			</div>
			
			<div class="form-row">
				<div class="form-group col-md-6">
					<p>Franja Horaria: <input id="franjaHoraria" class="form-control" type="text" name="franjaHoraria" required="required"></p>
						<label id="displayFHError" class="ERROR" style="display: none;">Complete el campo franja Horaria </label>
				</div>
				<div class="form-group col-md-6">
          				<label>Tipo de empleado</label>            
          					<input type = "radio"  name = "tipoEmpleado" id="radioVendedor" value = "vendedor" />
                 		<label>Vendedor</label> 
          	<input type = "radio" name = "tipoEmpleado" id="radioGerente" value = "gerente" />
                		 <label>Gerente</label> 
       		 	</div>
			</div>
			
          	
       		 
       		 <div id="formulario">
			<select id="locales" class="form-control">
			</select>
		</div>
			<p></p>
			<button id="modificar" class="btn btn-primary">MODIFICAR</button>
			</div>
		</div>
		
		<div  id="exitoModificar" style="display: none;">
			<h1>Empleado Modificado</h1>
			<button onClick="window.location.reload();" class="btn btn-primary">Recargar</button>
		</div>